# **EXHAUSTIVE DATA MANIPULATIONS IN PYSPARK:**

 ![0_V0GyOt3LoDVfY7y5.png](https://files.realpython.com/media/PySpark-Tutorial_Watermarked.305db668c8cb.jpg)

In [1]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 46 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 51.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=06e5858a62a1c12a564eb23d47d1f0d86253f5c147b8ef2c374933ebf3e8cfad
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [2]:
#Importing Relevant Libraries
import pandas as pd #Data Processing
import numpy as np #Linear Algebra
import os 
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [3]:
#Initializing
spark = SparkSession.builder.appName("Pyspark").getOrCreate()
#cores = spark._jsc.sc().getExecuteMemoryStatus().keyset().size()
#print('You are working with',cores,"core(s)")
spark

In [4]:
#Creating a Spark Dataframe Manually
values = [('Maths','98'),('English','96'),('Hindi','94'),('Science','99'),('Social Science','100')]
df = spark.createDataFrame(values,['Subjects','Marks'])
df.show()

+--------------+-----+
|      Subjects|Marks|
+--------------+-----+
|         Maths|   98|
|       English|   96|
|         Hindi|   94|
|       Science|   99|
|Social Science|  100|
+--------------+-----+

In [5]:
#Reading files into Spark Dataframe
wine_quality = spark.read.csv("/content/sample_data/winequality-red.csv", inferSchema = True, header = True)

In [6]:
wine_quality #This tells the column names and data types separated by colon

DataFrame[fixed acidity: double, volatile acidity: double, citric acid: double, residual sugar: double, chlorides: double, free sulfur dioxide: double, total sulfur dioxide: double, density: double, pH: double, sulphates: double, alcohol: double, quality: int]

In [7]:
wine_quality.show() #Shows top 20 rows only

+-------------+----------------+-----------+--------------+-------------------+-------------------+--------------------+-------+----+---------+-------+-------+
|fixed acidity|volatile acidity|citric acid|residual sugar|          chlorides|free sulfur dioxide|total sulfur dioxide|density|  pH|sulphates|alcohol|quality|
+-------------+----------------+-----------+--------------+-------------------+-------------------+--------------------+-------+----+---------+-------+-------+
|          7.4|             0.7|        0.0|           1.9|              0.076|               11.0|                34.0| 0.9978|3.51|     0.56|    9.4|      5|
|          7.8|            0.88|        0.0|           2.6|              0.098|               25.0|                67.0| 0.9968| 3.2|     0.68|    9.8|      5|
|          7.8|            0.76|       0.04|           2.3|              0.092|               15.0|                54.0|  0.997|3.26|     0.65|    9.8|      5|
|         11.2|            0.28|       0.56|           1.9|              0.075|               17.0|                60.0|  0.998|3.16|     0.58|    9.8|      6|
|          7.4|             0.7|        0.0|           1.9|              0.076|               11.0|                34.0| 0.9978|3.51|     0.56|    9.4|      5|
|          7.4|            0.66|        0.0|           1.8|              0.075|               13.0|                40.0| 0.9978|3.51|     0.56|    9.4|      5|
|          7.9|             0.6|       0.06|           1.6|              0.069|               15.0|                59.0| 0.9964| 3.3|     0.46|    9.4|      5|
|          7.3|            0.65|        0.0|           1.2|              0.065|               15.0|                21.0| 0.9946|3.39|     0.47|   10.0|      7|
|          7.8|            0.58|       0.02|           2.0|              0.073|                9.0|                18.0| 0.9968|3.36|     0.57|    9.5|      7|
|          7.5|             0.5|       0.36|           6.1|              0.071|               17.0|               102.0| 0.9978|3.35|      0.8|   10.5|      5|
|          6.7|            0.58|       0.08|           1.8|0.09699999999999999|               15.0|                65.0| 0.9959|3.28|     0.54|    9.2|      5|
|          7.5|             0.5|       0.36|           6.1|              0.071|               17.0|               102.0| 0.9978|3.35|      0.8|   10.5|      5|
|          5.6|           0.615|        0.0|           1.6|0.08900000000000001|               16.0|                59.0| 0.9943|3.58|     0.52|    9.9|      5|
|          7.8|            0.61|       0.29|           1.6|              0.114|                9.0|                29.0| 0.9974|3.26|     1.56|    9.1|      5|
|          8.9|            0.62|       0.18|           3.8|0.17600000000000002|               52.0|               145.0| 0.9986|3.16|     0.88|    9.2|      5|
|          8.9|            0.62|       0.19|           3.9|               0.17|               51.0|               148.0| 0.9986|3.17|     0.93|    9.2|      5|
|          8.5|            0.28|       0.56|           1.8|              0.092|               35.0|               103.0| 0.9969| 3.3|     0.75|   10.5|      7|
|          8.1|            0.56|       0.28|           1.7|              0.368|               16.0|                56.0| 0.9968|3.11|     1.28|    9.3|      5|
|          7.4|            0.59|       0.08|           4.4|              0.086|                6.0|                29.0| 0.9974|3.38|      0.5|    9.0|      4|
|          7.9|            0.32|       0.51|           1.8|              0.341|               17.0|                56.0| 0.9969|3.04|     1.08|    9.2|      6|
+-------------+----------------+-----------+--------------+-------------------+-------------------+--------------------+-------+----+---------+-------+-------+
only showing top 20 rows

In [8]:
#We can use limit method to specify the number of rows
wine_quality.limit(15).show()

+-------------+----------------+-----------+--------------+-------------------+-------------------+--------------------+-------+----+---------+-------+-------+
|fixed acidity|volatile acidity|citric acid|residual sugar|          chlorides|free sulfur dioxide|total sulfur dioxide|density|  pH|sulphates|alcohol|quality|
+-------------+----------------+-----------+--------------+-------------------+-------------------+--------------------+-------+----+---------+-------+-------+
|          7.4|             0.7|        0.0|           1.9|              0.076|               11.0|                34.0| 0.9978|3.51|     0.56|    9.4|      5|
|          7.8|            0.88|        0.0|           2.6|              0.098|               25.0|                67.0| 0.9968| 3.2|     0.68|    9.8|      5|
|          7.8|            0.76|       0.04|           2.3|              0.092|               15.0|                54.0|  0.997|3.26|     0.65|    9.8|      5|
|         11.2|            0.28|       0.56|           1.9|              0.075|               17.0|                60.0|  0.998|3.16|     0.58|    9.8|      6|
|          7.4|             0.7|        0.0|           1.9|              0.076|               11.0|                34.0| 0.9978|3.51|     0.56|    9.4|      5|
|          7.4|            0.66|        0.0|           1.8|              0.075|               13.0|                40.0| 0.9978|3.51|     0.56|    9.4|      5|
|          7.9|             0.6|       0.06|           1.6|              0.069|               15.0|                59.0| 0.9964| 3.3|     0.46|    9.4|      5|
|          7.3|            0.65|        0.0|           1.2|              0.065|               15.0|                21.0| 0.9946|3.39|     0.47|   10.0|      7|
|          7.8|            0.58|       0.02|           2.0|              0.073|                9.0|                18.0| 0.9968|3.36|     0.57|    9.5|      7|
|          7.5|             0.5|       0.36|           6.1|              0.071|               17.0|               102.0| 0.9978|3.35|      0.8|   10.5|      5|
|          6.7|            0.58|       0.08|           1.8|0.09699999999999999|               15.0|                65.0| 0.9959|3.28|     0.54|    9.2|      5|
|          7.5|             0.5|       0.36|           6.1|              0.071|               17.0|               102.0| 0.9978|3.35|      0.8|   10.5|      5|
|          5.6|           0.615|        0.0|           1.6|0.08900000000000001|               16.0|                59.0| 0.9943|3.58|     0.52|    9.9|      5|
|          7.8|            0.61|       0.29|           1.6|              0.114|                9.0|                29.0| 0.9974|3.26|     1.56|    9.1|      5|
|          8.9|            0.62|       0.18|           3.8|0.17600000000000002|               52.0|               145.0| 0.9986|3.16|     0.88|    9.2|      5|
+-------------+----------------+-----------+--------------+-------------------+-------------------+--------------------+-------+----+---------+-------+-------+

In [9]:
#For better view, we can convert into pandas
#We need to understand that we should not use toPandas() when the content is too heavy since all the content is loaded into the memory
#And if we use it with huge data, then it will end up crashing or executing at snail's pace
wine_quality_pandas = wine_quality.limit(15).toPandas()

In [10]:
#Lets check the type of dataframes
print(type(wine_quality_pandas))
print(type(wine_quality))

<class 'pandas.core.frame.DataFrame'>
<class 'pyspark.sql.dataframe.DataFrame'>

In [11]:
#Checking the Schema of Dataframe
wine_quality.printSchema()

root
 |-- fixed acidity: double (nullable = true)
 |-- volatile acidity: double (nullable = true)
 |-- citric acid: double (nullable = true)
 |-- residual sugar: double (nullable = true)
 |-- chlorides: double (nullable = true)
 |-- free sulfur dioxide: double (nullable = true)
 |-- total sulfur dioxide: double (nullable = true)
 |-- density: double (nullable = true)
 |-- pH: double (nullable = true)
 |-- sulphates: double (nullable = true)
 |-- alcohol: double (nullable = true)
 |-- quality: integer (nullable = true)

In [12]:
#Printing Columns of the Dataframe
print(wine_quality.columns)

['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar', 'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol', 'quality']

In [13]:
#Checking Datatype of Specific Column
wine_quality.schema['fixed acidity'].dataType

DoubleType()

In [14]:
#Descriptive Statistics of Spark DataFrame 
wine_quality.describe().toPandas()

,summary,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,count,1599,1599,1599,1599,1599,1599,1599,1599,1599,1599,1599,1599
1,mean,8.319637273295838,0.5278205128205131,0.2709756097560964,2.5388055034396517,0.08746654158849257,15.874921826141339,46.46779237023139,0.9967466791744833,3.311113195747343,0.6581488430268921,10.422983114446502,5.6360225140712945
2,stddev,1.7410963181276948,0.17905970415353525,0.19480113740531824,1.40992805950728,0.047065302010090085,10.46015696980971,32.89532447829907,0.0018873339538427278,0.15438646490354271,0.1695069795901101,1.0656675818473935,0.8075694397347051
3,min,4.6,0.12,0.0,0.9,0.012,1.0,6.0,0.9900700000000001,2.74,0.33,8.4,3
4,max,15.9,1.58,1.0,15.5,0.611,72.0,289.0,1.00369,4.01,2.0,14.9,8

In [15]:
#Descriptive Statistics of Pandas Dataframe
wine_quality_pandas.describe() #We can see in extra we have different quartiles also present but not in Spark Dataframe describe

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000
mean,7.733333,0.615667,0.130000,2.546667,0.087800,17.133333,59.266667,0.996987,3.345333,0.679333,9.660000,5.333333
std,1.185427,0.133722,0.178846,1.559701,0.027949,10.425701,34.697605,0.001243,0.133463,0.273482,0.437199,0.723747
min,5.600000,0.280000,0.000000,1.200000,0.065000,9.000000,18.000000,0.994300,3.160000,0.460000,9.100000,5.000000
25%,7.400000,0.580000,0.000000,1.700000,0.072000,12.000000,34.000000,0.996600,3.260000,0.550000,9.400000,5.000000
50%,7.500000,0.615000,0.040000,1.900000,0.076000,15.000000,59.000000,0.997400,3.350000,0.570000,9.500000,5.000000
75%,7.800000,0.680000,0.235000,2.450000,0.094500,17.000000,66.000000,0.997800,3.450000,0.740000,9.850000,5.000000
max,11.200000,0.880000,0.560000,6.100000,0.176000,52.000000,145.000000,0.998600,3.580000,1.560000,10.500000,7.000000

In [16]:
#We can do the above for Spark using Summary Function
wine_quality.summary().toPandas()

,summary,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,count,1599,1599,1599,1599,1599,1599,1599,1599,1599,1599,1599,1599
1,mean,8.319637273295838,0.5278205128205131,0.2709756097560964,2.5388055034396517,0.08746654158849257,15.874921826141339,46.46779237023139,0.9967466791744833,3.311113195747343,0.6581488430268921,10.422983114446502,5.6360225140712945
2,stddev,1.7410963181276948,0.17905970415353525,0.19480113740531824,1.40992805950728,0.047065302010090085,10.46015696980971,32.89532447829907,0.0018873339538427278,0.15438646490354271,0.1695069795901101,1.0656675818473935,0.8075694397347051
3,min,4.6,0.12,0.0,0.9,0.012,1.0,6.0,0.9900700000000001,2.74,0.33,8.4,3
4,25%,7.1,0.39,0.09,1.9,0.07,7.0,22.0,0.9956,3.21,0.55,9.5,5
5,50%,7.9,0.52,0.26,2.2,0.079,14.0,38.0,0.99675,3.31,0.62,10.2,6
6,75%,9.2,0.64,0.42,2.6,0.09,21.0,62.0,0.99784,3.4,0.73,11.1,6
7,max,15.9,1.58,1.0,15.5,0.611,72.0,289.0,1.00369,4.01,2.0,14.9,8

In [17]:
#Standard Stats for a single Spark Dataframe Column
wine_quality.describe(['fixed acidity']).toPandas()

  summary       fixed acidity
0   count                1599
1    mean   8.319637273295838
2  stddev  1.7410963181276948
3     min                 4.6
4     max                15.9

In [18]:
#Same thing above can be written as:
wine_quality.select("fixed acidity").summary().toPandas()

  summary       fixed acidity
0   count                1599
1    mean   8.319637273295838
2  stddev  1.7410963181276948
3     min                 4.6
4     25%                 7.1
5     50%                 7.9
6     75%                 9.2
7     max                15.9

In [19]:
#For Multiple Columns 
wine_quality.select("fixed acidity","chlorides").summary().toPandas()

  summary       fixed acidity             chlorides
0   count                1599                  1599
1    mean   8.319637273295838   0.08746654158849257
2  stddev  1.7410963181276948  0.047065302010090085
3     min                 4.6                 0.012
4     25%                 7.1                  0.07
5     50%                 7.9                 0.079
6     75%                 9.2                  0.09
7     max                15.9                 0.611

In [20]:
#Schema Modifications: Suppose we want to change datatype of certain columns, we can perform this using below codes when reading the file itself

from pyspark.sql.types import StructField,StringType,IntegerType,StructType,DateType, DoubleType
data_schema = [StructField("fixed acidity", DoubleType(), True),
               StructField("citric acid", DoubleType(), True),
               StructField("chlorides", DoubleType(), True),
               StructField("pH", DoubleType(), True),
               StructField("sulphates", DoubleType(), True),
               StructField("density", DoubleType(), True)]

final_struc = StructType(fields=data_schema)

wine_quality_new = spark.read.csv("/content/sample_data/winequality-red.csv", schema = final_struc)
wine_quality_new.printSchema()

root
 |-- fixed acidity: double (nullable = true)
 |-- citric acid: double (nullable = true)
 |-- chlorides: double (nullable = true)
 |-- pH: double (nullable = true)
 |-- sulphates: double (nullable = true)
 |-- density: double (nullable = true)

In [21]:
#Exporting File into csv
wine_quality.write.csv("/tmp/spark_output/datacsv")

In [22]:
#Saving File in Partitions by Categorical Column
#Suppose there are 6 unique values of quality. Then 6 files will be created for each but quality column will not be present there and even header is not there
wine_quality.write.mode("overwrite").partitionBy("quality").csv("partitioned_by_quality_csv/")

USE OF SELECT IN SPARK DATAFRAME

In [23]:
#Select Functions in DatasFrame
wine_quality.select(['fixed acidity','sulphates','pH']).show()

+-------------+---------+----+
|fixed acidity|sulphates|  pH|
+-------------+---------+----+
|          7.4|     0.56|3.51|
|          7.8|     0.68| 3.2|
|          7.8|     0.65|3.26|
|         11.2|     0.58|3.16|
|          7.4|     0.56|3.51|
|          7.4|     0.56|3.51|
|          7.9|     0.46| 3.3|
|          7.3|     0.47|3.39|
|          7.8|     0.57|3.36|
|          7.5|      0.8|3.35|
|          6.7|     0.54|3.28|
|          7.5|      0.8|3.35|
|          5.6|     0.52|3.58|
|          7.8|     1.56|3.26|
|          8.9|     0.88|3.16|
|          8.9|     0.93|3.17|
|          8.5|     0.75| 3.3|
|          8.1|     1.28|3.11|
|          7.4|      0.5|3.38|
|          7.9|     1.08|3.04|
+-------------+---------+----+
only showing top 20 rows

In [24]:
#Implementing Order by
wine_quality.select(['fixed acidity','sulphates','pH', 'quality']).orderBy("quality").show(3) #Ascending Order

+-------------+---------+----+-------+
|fixed acidity|sulphates|  pH|quality|
+-------------+---------+----+-------+
|         11.6|     0.57|3.25|      3|
|         10.4|     0.86|3.38|      3|
|         10.4|     0.63|3.16|      3|
+-------------+---------+----+-------+
only showing top 3 rows

In [25]:
#Implementing Order by
wine_quality.select(['fixed acidity','sulphates','pH', 'quality']).orderBy(wine_quality["quality"].desc()).show(3) #Descending Order

+-------------+---------+----+-------+
|fixed acidity|sulphates|  pH|quality|
+-------------+---------+----+-------+
|          7.9|     0.86|3.35|      8|
|         12.6|     0.82|2.88|      8|
|         10.3|     0.82|3.23|      8|
+-------------+---------+----+-------+
only showing top 3 rows

In [26]:
#isin Command: In Pyspark, the isin() function doesn't require a list but the values directly as arguments
print(wine_quality[wine_quality.quality.isin(5, 6)].limit(4).show())
print(wine_quality[wine_quality.quality.isin(5, 6)].limit(4).toPandas()) #For better viewing

+-------------+----------------+-----------+--------------+---------+-------------------+--------------------+-------+----+---------+-------+-------+
|fixed acidity|volatile acidity|citric acid|residual sugar|chlorides|free sulfur dioxide|total sulfur dioxide|density|  pH|sulphates|alcohol|quality|
+-------------+----------------+-----------+--------------+---------+-------------------+--------------------+-------+----+---------+-------+-------+
|          7.4|             0.7|        0.0|           1.9|    0.076|               11.0|                34.0| 0.9978|3.51|     0.56|    9.4|      5|
|          7.8|            0.88|        0.0|           2.6|    0.098|               25.0|                67.0| 0.9968| 3.2|     0.68|    9.8|      5|
|          7.8|            0.76|       0.04|           2.3|    0.092|               15.0|                54.0|  0.997|3.26|     0.65|    9.8|      5|
|         11.2|            0.28|       0.56|           1.9|    0.075|               17.0|                60.0|  0.998|3.16|     0.58|    9.8|      6|
+-------------+----------------+-----------+--------------+---------+-------------------+--------------------+-------+----+---------+-------+-------+

None
   fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0            7.4              0.70         0.00             1.9      0.076
1            7.8              0.88         0.00             2.6      0.098
2            7.8              0.76         0.04             2.3      0.092
3           11.2              0.28         0.56             1.9      0.075

   free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                 11.0                  34.0   0.9978  3.51       0.56
1                 25.0                  67.0   0.9968  3.20       0.68
2                 15.0                  54.0   0.9970  3.26       0.65
3                 17.0                  60.0   0.9980  3.16       0.58

   alcohol  quality
0      9.4        5
1      9.8        5
2      9.8        5
3      9.8        6

**SLICING DATAFRAME**

In [27]:
#Row Count
print(wine_quality.count()) #1599
#Columns Count
print(len(wine_quality.columns)) #12
#Sliced Rows
df_sliced = wine_quality.limit(100)
print(df_sliced.show())
print(df_sliced.count()) #100
#Sliced Columns
cols_list = wine_quality.columns[0:3]
df_sliced_cols = wine_quality.select(cols_list)
print(df_sliced_cols.show())
print(df_sliced_cols.count()) #1599

1599
12
+-------------+----------------+-----------+--------------+-------------------+-------------------+--------------------+-------+----+---------+-------+-------+
|fixed acidity|volatile acidity|citric acid|residual sugar|          chlorides|free sulfur dioxide|total sulfur dioxide|density|  pH|sulphates|alcohol|quality|
+-------------+----------------+-----------+--------------+-------------------+-------------------+--------------------+-------+----+---------+-------+-------+
|          7.4|             0.7|        0.0|           1.9|              0.076|               11.0|                34.0| 0.9978|3.51|     0.56|    9.4|      5|
|          7.8|            0.88|        0.0|           2.6|              0.098|               25.0|                67.0| 0.9968| 3.2|     0.68|    9.8|      5|
|          7.8|            0.76|       0.04|           2.3|              0.092|               15.0|                54.0|  0.997|3.26|     0.65|    9.8|      5|
|         11.2|            0.28|       0.56|           1.9|              0.075|               17.0|                60.0|  0.998|3.16|     0.58|    9.8|      6|
|          7.4|             0.7|        0.0|           1.9|              0.076|               11.0|                34.0| 0.9978|3.51|     0.56|    9.4|      5|
|          7.4|            0.66|        0.0|           1.8|              0.075|               13.0|                40.0| 0.9978|3.51|     0.56|    9.4|      5|
|          7.9|             0.6|       0.06|           1.6|              0.069|               15.0|                59.0| 0.9964| 3.3|     0.46|    9.4|      5|
|          7.3|            0.65|        0.0|           1.2|              0.065|               15.0|                21.0| 0.9946|3.39|     0.47|   10.0|      7|
|          7.8|            0.58|       0.02|           2.0|              0.073|                9.0|                18.0| 0.9968|3.36|     0.57|    9.5|      7|
|          7.5|             0.5|       0.36|           6.1|              0.071|               17.0|               102.0| 0.9978|3.35|      0.8|   10.5|      5|
|          6.7|            0.58|       0.08|           1.8|0.09699999999999999|               15.0|                65.0| 0.9959|3.28|     0.54|    9.2|      5|
|          7.5|             0.5|       0.36|           6.1|              0.071|               17.0|               102.0| 0.9978|3.35|      0.8|   10.5|      5|
|          5.6|           0.615|        0.0|           1.6|0.08900000000000001|               16.0|                59.0| 0.9943|3.58|     0.52|    9.9|      5|
|          7.8|            0.61|       0.29|           1.6|              0.114|                9.0|                29.0| 0.9974|3.26|     1.56|    9.1|      5|
|          8.9|            0.62|       0.18|           3.8|0.17600000000000002|               52.0|               145.0| 0.9986|3.16|     0.88|    9.2|      5|
|          8.9|            0.62|       0.19|           3.9|               0.17|               51.0|               148.0| 0.9986|3.17|     0.93|    9.2|      5|
|          8.5|            0.28|       0.56|           1.8|              0.092|               35.0|               103.0| 0.9969| 3.3|     0.75|   10.5|      7|
|          8.1|            0.56|       0.28|           1.7|              0.368|               16.0|                56.0| 0.9968|3.11|     1.28|    9.3|      5|
|          7.4|            0.59|       0.08|           4.4|              0.086|                6.0|                29.0| 0.9974|3.38|      0.5|    9.0|      4|
|          7.9|            0.32|       0.51|           1.8|              0.341|               17.0|                56.0| 0.9969|3.04|     1.08|    9.2|      6|
+-------------+----------------+-----------+--------------+-------------------+-------------------+--------------------+-------+----+---------+-------+-------+
only showing top 20 rows

None
100
+-------------+----------------+-----------+
|fixed acidity|volatile acidity|citric acid|
+-------------+----------------+-----------+
|          7.4|             0.7|        0.0|
|          7.8|            0.88|        0.0|
|          7.8|            0.76|       0.04|
|         11.2|            0.28|       0.56|
|          7.4|             0.7|        0.0|
|          7.4|            0.66|        0.0|
|          7.9|             0.6|       0.06|
|          7.3|            0.65|        0.0|
|          7.8|            0.58|       0.02|
|          7.5|             0.5|       0.36|
|          6.7|            0.58|       0.08|
|          7.5|             0.5|       0.36|
|          5.6|           0.615|        0.0|
|          7.8|            0.61|       0.29|
|          8.9|            0.62|       0.18|
|          8.9|            0.62|       0.19|
|          8.5|            0.28|       0.56|
|          8.1|            0.56|       0.28|
|          7.4|            0.59|       0.08|
|          7.9|            0.32|       0.51|
+-------------+----------------+-----------+
only showing top 20 rows

None
1599

FILTERING DATAFRAME

In [28]:
#Using Where Construct
wine_quality.select("pH","quality").where(wine_quality.pH.startswith("3")) \
                                  .where(wine_quality.pH.endswith("1")).limit(4).show()

+----+-------+
|  pH|quality|
+----+-------+
|3.51|      5|
|3.51|      5|
|3.51|      5|
|3.11|      5|
+----+-------+

In [29]:
#Filtering a Dataframe with SQL 'Like' Operation
wine_quality.select('fixed acidity','sulphates','pH', 'quality').where(wine_quality.pH.like("%5")).show(50,False)

+-------------+---------+----+-------+
|fixed acidity|sulphates|pH  |quality|
+-------------+---------+----+-------+
|7.5          |0.8      |3.35|5      |
|7.5          |0.8      |3.35|5      |
|6.7          |0.54     |3.35|5      |
|6.9          |0.52     |3.45|6      |
|5.7          |0.48     |3.5 |4      |
|7.7          |0.73     |3.25|5      |
|8.7          |0.58     |3.25|5      |
|8.8          |0.74     |3.15|5      |
|5.0          |0.48     |3.75|4      |
|4.7          |0.6      |3.85|6      |
|6.8          |0.56     |3.45|5      |
|7.0          |0.63     |3.25|5      |
|8.4          |0.66     |3.15|5      |
|8.4          |0.66     |3.15|5      |
|7.5          |0.54     |3.35|5      |
|7.5          |0.54     |3.35|5      |
|6.9          |0.78     |3.35|5      |
|7.8          |0.54     |3.25|5      |
|8.0          |0.56     |3.35|6      |
|7.4          |0.57     |3.15|5      |
|7.7          |0.48     |3.35|6      |
|7.0          |0.6      |3.35|4      |
|7.9          |0.86     |3.35|8      |
|7.7          |1.08     |3.25|7      |
|13.3         |0.81     |3.05|6      |
|10.8         |0.64     |3.05|5      |
|11.6         |0.74     |3.05|7      |
|8.9          |0.7      |3.35|6      |
|9.1          |0.83     |3.35|6      |
|6.1          |0.59     |3.25|6      |
|6.7          |0.61     |3.55|6      |
|11.9         |0.85     |3.15|7      |
|11.9         |0.56     |3.05|5      |
|7.4          |0.63     |3.05|5      |
|11.4         |0.63     |3.15|6      |
|12.5         |0.57     |3.05|4      |
|10.5         |0.9      |3.15|7      |
|10.5         |0.9      |3.15|7      |
|7.8          |0.56     |3.25|5      |
|10.4         |0.89     |3.15|6      |
|10.4         |0.89     |3.15|6      |
|15.6         |0.68     |2.95|7      |
|7.0          |0.63     |3.5 |5      |
|11.6         |0.57     |3.25|3      |
|9.2          |0.61     |3.35|6      |
|13.0         |0.61     |3.05|5      |
|12.5         |0.82     |3.15|6      |
|9.4          |0.92     |3.15|8      |
|10.7         |0.65     |3.15|8      |
|10.7         |0.65     |3.15|8      |
+-------------+---------+----+-------+
only showing top 50 rows

In [30]:
#Using Filter Construct
wine_quality.filter("pH>3 and sulphates>0.6").limit(10).show()
#For Better viewing
#wine_quality.filter("pH>3 and sulphates>0.6").limit(10).toPandas()

+-------------+----------------+-----------+--------------+-------------------+-------------------+--------------------+-------+----+---------+-------+-------+
|fixed acidity|volatile acidity|citric acid|residual sugar|          chlorides|free sulfur dioxide|total sulfur dioxide|density|  pH|sulphates|alcohol|quality|
+-------------+----------------+-----------+--------------+-------------------+-------------------+--------------------+-------+----+---------+-------+-------+
|          7.8|            0.88|        0.0|           2.6|              0.098|               25.0|                67.0| 0.9968| 3.2|     0.68|    9.8|      5|
|          7.8|            0.76|       0.04|           2.3|              0.092|               15.0|                54.0|  0.997|3.26|     0.65|    9.8|      5|
|          7.5|             0.5|       0.36|           6.1|              0.071|               17.0|               102.0| 0.9978|3.35|      0.8|   10.5|      5|
|          7.5|             0.5|       0.36|           6.1|              0.071|               17.0|               102.0| 0.9978|3.35|      0.8|   10.5|      5|
|          7.8|            0.61|       0.29|           1.6|              0.114|                9.0|                29.0| 0.9974|3.26|     1.56|    9.1|      5|
|          8.9|            0.62|       0.18|           3.8|0.17600000000000002|               52.0|               145.0| 0.9986|3.16|     0.88|    9.2|      5|
|          8.9|            0.62|       0.19|           3.9|               0.17|               51.0|               148.0| 0.9986|3.17|     0.93|    9.2|      5|
|          8.5|            0.28|       0.56|           1.8|              0.092|               35.0|               103.0| 0.9969| 3.3|     0.75|   10.5|      7|
|          8.1|            0.56|       0.28|           1.7|              0.368|               16.0|                56.0| 0.9968|3.11|     1.28|    9.3|      5|
|          7.9|            0.32|       0.51|           1.8|              0.341|               17.0|                56.0| 0.9969|3.04|     1.08|    9.2|      6|
+-------------+----------------+-----------+--------------+-------------------+-------------------+--------------------+-------+----+---------+-------+-------+

In [31]:
#Example of Multiple Filters
wine_quality.filter("pH>3 and sulphates<0.6 and density like '%0.997%'").limit(4).show()

+-------------+----------------+-----------+--------------+---------+-------------------+--------------------+-------+----+---------+-------+-------+
|fixed acidity|volatile acidity|citric acid|residual sugar|chlorides|free sulfur dioxide|total sulfur dioxide|density|  pH|sulphates|alcohol|quality|
+-------------+----------------+-----------+--------------+---------+-------------------+--------------------+-------+----+---------+-------+-------+
|          7.4|             0.7|        0.0|           1.9|    0.076|               11.0|                34.0| 0.9978|3.51|     0.56|    9.4|      5|
|          7.4|             0.7|        0.0|           1.9|    0.076|               11.0|                34.0| 0.9978|3.51|     0.56|    9.4|      5|
|          7.4|            0.66|        0.0|           1.8|    0.075|               13.0|                40.0| 0.9978|3.51|     0.56|    9.4|      5|
|          7.4|            0.59|       0.08|           4.4|    0.086|                6.0|                29.0| 0.9974|3.38|      0.5|    9.0|      4|
+-------------+----------------+-----------+--------------+---------+-------------------+--------------------+-------+----+---------+-------+-------+

In [32]:
#Another Example
wine_quality.filter("pH>3 and sulphates<0.6 and density not like '%0.997%'").limit(4).show()

+-------------+----------------+-----------+--------------+---------+-------------------+--------------------+-------+----+---------+-------+-------+
|fixed acidity|volatile acidity|citric acid|residual sugar|chlorides|free sulfur dioxide|total sulfur dioxide|density|  pH|sulphates|alcohol|quality|
+-------------+----------------+-----------+--------------+---------+-------------------+--------------------+-------+----+---------+-------+-------+
|         11.2|            0.28|       0.56|           1.9|    0.075|               17.0|                60.0|  0.998|3.16|     0.58|    9.8|      6|
|          7.9|             0.6|       0.06|           1.6|    0.069|               15.0|                59.0| 0.9964| 3.3|     0.46|    9.4|      5|
|          7.3|            0.65|        0.0|           1.2|    0.065|               15.0|                21.0| 0.9946|3.39|     0.47|   10.0|      7|
|          7.8|            0.58|       0.02|           2.0|    0.073|                9.0|                18.0| 0.9968|3.36|     0.57|    9.5|      7|
+-------------+----------------+-----------+--------------+---------+-------------------+--------------------+-------+----+---------+-------+-------+

In [33]:
#Using DataFrame Style Filters (I like this)
## or condition
wine_quality.filter( (wine_quality.pH  == 3.0) | (wine_quality.quality  == 5) ).limit(5).show()

+-------------+----------------+-----------+--------------+---------+-------------------+--------------------+-------+----+---------+-------+-------+
|fixed acidity|volatile acidity|citric acid|residual sugar|chlorides|free sulfur dioxide|total sulfur dioxide|density|  pH|sulphates|alcohol|quality|
+-------------+----------------+-----------+--------------+---------+-------------------+--------------------+-------+----+---------+-------+-------+
|          7.4|             0.7|        0.0|           1.9|    0.076|               11.0|                34.0| 0.9978|3.51|     0.56|    9.4|      5|
|          7.8|            0.88|        0.0|           2.6|    0.098|               25.0|                67.0| 0.9968| 3.2|     0.68|    9.8|      5|
|          7.8|            0.76|       0.04|           2.3|    0.092|               15.0|                54.0|  0.997|3.26|     0.65|    9.8|      5|
|          7.4|             0.7|        0.0|           1.9|    0.076|               11.0|                34.0| 0.9978|3.51|     0.56|    9.4|      5|
|          7.4|            0.66|        0.0|           1.8|    0.075|               13.0|                40.0| 0.9978|3.51|     0.56|    9.4|      5|
+-------------+----------------+-----------+--------------+---------+-------------------+--------------------+-------+----+---------+-------+-------+

In [34]:
## and condition
wine_quality.filter( (wine_quality.pH  == 3.0) & (wine_quality.quality  == 5) ).limit(5).show()

+-------------+----------------+-----------+--------------+---------+-------------------+--------------------+-------+---+---------+-------+-------+
|fixed acidity|volatile acidity|citric acid|residual sugar|chlorides|free sulfur dioxide|total sulfur dioxide|density| pH|sulphates|alcohol|quality|
+-------------+----------------+-----------+--------------+---------+-------------------+--------------------+-------+---+---------+-------+-------+
|          7.5|           0.705|       0.24|           1.8|     0.36|               15.0|                63.0| 0.9964|3.0|     1.59|    9.5|      5|
|          8.9|           0.635|       0.37|           1.7|    0.263|                5.0|                62.0| 0.9971|3.0|     1.09|    9.3|      5|
|          8.7|            0.78|       0.51|           1.7|    0.415|               12.0|                66.0|0.99623|3.0|     1.17|    9.2|      5|
|          8.7|            0.78|       0.51|           1.7|    0.415|               12.0|                66.0|0.99623|3.0|     1.17|    9.2|      5|
+-------------+----------------+-----------+--------------+---------+-------------------+--------------------+-------+---+---------+-------+-------+

In [35]:
## and and not equal to
wine_quality.filter( (wine_quality.pH  == 3.0) & (wine_quality.quality  != 5) ).limit(5).show()

+-------------+----------------+-----------+--------------+-------------------+-------------------+--------------------+-------+---+---------+-------+-------+
|fixed acidity|volatile acidity|citric acid|residual sugar|          chlorides|free sulfur dioxide|total sulfur dioxide|density| pH|sulphates|alcohol|quality|
+-------------+----------------+-----------+--------------+-------------------+-------------------+--------------------+-------+---+---------+-------+-------+
|         11.9|            0.37|       0.69|           2.3|              0.078|               12.0|                24.0| 0.9958|3.0|     0.65|   12.8|      6|
|         12.7|            0.59|       0.45|           2.3|0.08199999999999999|               11.0|                22.0|    1.0|3.0|      0.7|    9.3|      6|
+-------------+----------------+-----------+--------------+-------------------+-------------------+--------------------+-------+---+---------+-------+-------+

**STRING BASED FILTER**

In [36]:
#Starts with
wine_quality.filter(wine_quality.pH.startswith("2")).limit(5).show()

+-------------+----------------+-----------+--------------+---------+-------------------+--------------------+-------+----+---------+-------+-------+
|fixed acidity|volatile acidity|citric acid|residual sugar|chlorides|free sulfur dioxide|total sulfur dioxide|density|  pH|sulphates|alcohol|quality|
+-------------+----------------+-----------+--------------+---------+-------------------+--------------------+-------+----+---------+-------+-------+
|          8.6|            0.49|       0.28|           1.9|     0.11|               20.0|               136.0| 0.9972|2.93|     1.95|    9.9|      6|
|          8.6|            0.49|       0.28|           1.9|     0.11|               20.0|               136.0| 0.9972|2.93|     1.95|    9.9|      6|
|          8.6|            0.49|       0.29|           2.0|     0.11|               19.0|               133.0| 0.9972|2.93|     1.98|    9.8|      5|
|          9.2|            0.52|        1.0|           3.4|     0.61|               32.0|                69.0| 0.9996|2.74|      2.0|    9.4|      4|
|         12.5|            0.46|       0.63|           2.0|    0.071|                6.0|                15.0| 0.9988|2.99|     0.87|   10.2|      5|
+-------------+----------------+-----------+--------------+---------+-------------------+--------------------+-------+----+---------+-------+-------+

In [37]:
#Ends with
wine_quality.filter(wine_quality.pH.endswith("9")).limit(5).show()

+-------------+----------------+-----------+--------------+--------------------+-------------------+--------------------+-------+----+---------+-------+-------+
|fixed acidity|volatile acidity|citric acid|residual sugar|           chlorides|free sulfur dioxide|total sulfur dioxide|density|  pH|sulphates|alcohol|quality|
+-------------+----------------+-----------+--------------+--------------------+-------------------+--------------------+-------+----+---------+-------+-------+
|          7.3|            0.65|        0.0|           1.2|               0.065|               15.0|                21.0| 0.9946|3.39|     0.47|   10.0|      7|
|          8.9|            0.22|       0.48|           1.8|               0.077|               29.0|                60.0| 0.9968|3.39|     0.53|    9.4|      6|
|          4.6|            0.52|       0.15|           2.1|0.054000000000000006|                8.0|                65.0| 0.9934| 3.9|     0.56|   13.1|      4|
|          6.6|             0.5|       0.04|           2.1|               0.068|                6.0|                14.0| 0.9955|3.39|     0.64|    9.4|      6|
|          7.0|           0.735|       0.05|           2.0|               0.081|               13.0|                54.0| 0.9966|3.39|     0.57|    9.8|      5|
+-------------+----------------+-----------+--------------+--------------------+-------------------+--------------------+-------+----+---------+-------+-------+

In [38]:
#Contains
wine_quality.filter(wine_quality.pH.contains("4")).limit(5).show()

+-------------+----------------+-----------+--------------+---------+-------------------+--------------------+-------+----+---------+-------+-------+
|fixed acidity|volatile acidity|citric acid|residual sugar|chlorides|free sulfur dioxide|total sulfur dioxide|density|  pH|sulphates|alcohol|quality|
+-------------+----------------+-----------+--------------+---------+-------------------+--------------------+-------+----+---------+-------+-------+
|          7.9|            0.32|       0.51|           1.8|    0.341|               17.0|                56.0| 0.9969|3.04|     1.08|    9.2|      6|
|          6.9|             0.4|       0.14|           2.4|    0.085|               21.0|                40.0| 0.9968|3.43|     0.63|    9.7|      6|
|          6.3|            0.39|       0.16|           1.4|     0.08|               11.0|                23.0| 0.9955|3.34|     0.56|    9.3|      5|
|          7.1|            0.71|        0.0|           1.9|     0.08|               14.0|                35.0| 0.9972|3.47|     0.55|    9.4|      5|
|          6.9|           0.685|        0.0|           2.5|    0.105|               22.0|                37.0| 0.9966|3.46|     0.57|   10.6|      6|
+-------------+----------------+-----------+--------------+---------+-------------------+--------------------+-------+----+---------+-------+-------+

NULL FILTERS

In [39]:
## null check
wine_quality.filter(wine_quality['fixed acidity'].isNull() | wine_quality.alcohol.isNull()).limit(4).show()

+-------------+----------------+-----------+--------------+---------+-------------------+--------------------+-------+---+---------+-------+-------+
|fixed acidity|volatile acidity|citric acid|residual sugar|chlorides|free sulfur dioxide|total sulfur dioxide|density| pH|sulphates|alcohol|quality|
+-------------+----------------+-----------+--------------+---------+-------------------+--------------------+-------+---+---------+-------+-------+
+-------------+----------------+-----------+--------------+---------+-------------------+--------------------+-------+---+---------+-------+-------+

In [40]:
## Not null check
wine_quality.filter(wine_quality['fixed acidity'].isNotNull() | wine_quality.alcohol.isNotNull()).limit(4).show()

+-------------+----------------+-----------+--------------+---------+-------------------+--------------------+-------+----+---------+-------+-------+
|fixed acidity|volatile acidity|citric acid|residual sugar|chlorides|free sulfur dioxide|total sulfur dioxide|density|  pH|sulphates|alcohol|quality|
+-------------+----------------+-----------+--------------+---------+-------------------+--------------------+-------+----+---------+-------+-------+
|          7.4|             0.7|        0.0|           1.9|    0.076|               11.0|                34.0| 0.9978|3.51|     0.56|    9.4|      5|
|          7.8|            0.88|        0.0|           2.6|    0.098|               25.0|                67.0| 0.9968| 3.2|     0.68|    9.8|      5|
|          7.8|            0.76|       0.04|           2.3|    0.092|               15.0|                54.0|  0.997|3.26|     0.65|    9.8|      5|
|         11.2|            0.28|       0.56|           1.9|    0.075|               17.0|                60.0|  0.998|3.16|     0.58|    9.8|      6|
+-------------+----------------+-----------+--------------+---------+-------------------+--------------------+-------+----+---------+-------+-------+

In [41]:
#Another Way of Writing Null check (SQL Based)
wine_quality.filter("'fixed acidity' is NULL").limit(4).show()

+-------------+----------------+-----------+--------------+---------+-------------------+--------------------+-------+---+---------+-------+-------+
|fixed acidity|volatile acidity|citric acid|residual sugar|chlorides|free sulfur dioxide|total sulfur dioxide|density| pH|sulphates|alcohol|quality|
+-------------+----------------+-----------+--------------+---------+-------------------+--------------------+-------+---+---------+-------+-------+
+-------------+----------------+-----------+--------------+---------+-------------------+--------------------+-------+---+---------+-------+-------+

In [42]:
#Alternate way of Non-null Check (SQL Based)
wine_quality.filter("'fixed acidity' is not NULL").limit(4).show()

+-------------+----------------+-----------+--------------+---------+-------------------+--------------------+-------+----+---------+-------+-------+
|fixed acidity|volatile acidity|citric acid|residual sugar|chlorides|free sulfur dioxide|total sulfur dioxide|density|  pH|sulphates|alcohol|quality|
+-------------+----------------+-----------+--------------+---------+-------------------+--------------------+-------+----+---------+-------+-------+
|          7.4|             0.7|        0.0|           1.9|    0.076|               11.0|                34.0| 0.9978|3.51|     0.56|    9.4|      5|
|          7.8|            0.88|        0.0|           2.6|    0.098|               25.0|                67.0| 0.9968| 3.2|     0.68|    9.8|      5|
|          7.8|            0.76|       0.04|           2.3|    0.092|               15.0|                54.0|  0.997|3.26|     0.65|    9.8|      5|
|         11.2|            0.28|       0.56|           1.9|    0.075|               17.0|                60.0|  0.998|3.16|     0.58|    9.8|      6|
+-------------+----------------+-----------+--------------+---------+-------------------+--------------------+-------+----+---------+-------+-------+

**FILTER AND SELECT COMBINATION**

In [43]:
wine_quality.filter("pH>4").select(['fixed acidity','sulphates','pH', 'quality']).limit(4).show()

+-------------+---------+----+-------+
|fixed acidity|sulphates|  pH|quality|
+-------------+---------+----+-------+
|          5.4|     0.59|4.01|      6|
|          5.0|     0.59|4.01|      6|
+-------------+---------+----+-------+

In [44]:
#Filter, Select and Order By combination
wine_quality.select(['fixed acidity','sulphates','pH', 'quality']).filter("pH>3").orderBy(wine_quality["quality"].desc()).limit(4).show()

+-------------+---------+----+-------+
|fixed acidity|sulphates|  pH|quality|
+-------------+---------+----+-------+
|          7.9|     0.86|3.35|      8|
|         11.3|     0.69|3.22|      8|
|         10.3|     0.82|3.23|      8|
|          5.6|     0.82|3.56|      8|
+-------------+---------+----+-------+


# **Collecting Results as Objects**

The collect() function on DataFrame returns an array/list of Rows which is a flattened version of the DataFrame. It shows the metadata of the DataFrame.

A row in DataFrame. The fields in it can be accessed:

  like attributes (row.key)
  like dictionary values (row[key])

key in row will search through row keys.

Row can be used to create a row object by using named arguments. It is not allowed to omit a named argument to represent that the value is None or missing. This should be explicitly set to None in this case.

Row also can be used to create another Row like class, then it could be used to create Row objects, such as

In [45]:
from pyspark.sql import Row

Person = Row("name", "age")
Person

In [46]:
'name' in Person

True

In [47]:
Person("Alice", 11)

Row(name='Alice', age=11)

In [48]:
result = wine_quality.select(['fixed acidity','sulphates','pH', 'quality']).filter("pH>3").orderBy(wine_quality["pH"].desc()).collect()
result[:5]

[Row(fixed acidity=5.4, sulphates=0.59, pH=4.01, quality=6),
 Row(fixed acidity=5.0, sulphates=0.59, pH=4.01, quality=6),
 Row(fixed acidity=4.6, sulphates=0.56, pH=3.9, quality=4),
 Row(fixed acidity=5.1, sulphates=0.62, pH=3.9, quality=6),
 Row(fixed acidity=4.7, sulphates=0.6, pH=3.85, quality=6)]

In [49]:
type(result[0])

pyspark.sql.types.Row

In [50]:
#Accessing row as Dictionary
result[0].asDict()

{'fixed acidity': 5.4, 'pH': 4.01, 'quality': 6, 'sulphates': 0.59}

In [51]:
for item in result[0]:
    print(item)

5.4
0.59
4.01
6

In [52]:
#Converting List of Rows back to Spark DataFrame
backto_df = spark.createDataFrame(result)
backto_df.limit(5).show()

+-------------+---------+----+-------+
|fixed acidity|sulphates|  pH|quality|
+-------------+---------+----+-------+
|          5.4|     0.59|4.01|      6|
|          5.0|     0.59|4.01|      6|
|          4.6|     0.56| 3.9|      4|
|          5.1|     0.62| 3.9|      6|
|          4.7|      0.6|3.85|      6|
+-------------+---------+----+-------+

# **COMPLEX DATA OPERATIONS**

CREATING NEW COLUMNS AND FEATURES

In [54]:
#Suppose we want to have a feature that is the square of the chlorides feature by the name 'sq_chlorides'. 
#This can be accomplished with the withColumn() method of PySpark DataFrame.
#With the withColumn() function the first value we pass in is the name of the new column 
#the second calls on the existing dataframe column name we want to use or any other expression that returns valid value for the new column being generated.
wine_quality_v1 = wine_quality.withColumn("sq_chlorides", wine_quality["chlorides"]**2)
wine_quality_v1.show()

+-------------+----------------+-----------+--------------+-------------------+-------------------+--------------------+-------+----+---------+-------+-------+--------------------+
|fixed acidity|volatile acidity|citric acid|residual sugar|          chlorides|free sulfur dioxide|total sulfur dioxide|density|  pH|sulphates|alcohol|quality|        sq_chlorides|
+-------------+----------------+-----------+--------------+-------------------+-------------------+--------------------+-------+----+---------+-------+-------+--------------------+
|          7.4|             0.7|        0.0|           1.9|              0.076|               11.0|                34.0| 0.9978|3.51|     0.56|    9.4|      5|            0.005776|
|          7.8|            0.88|        0.0|           2.6|              0.098|               25.0|                67.0| 0.9968| 3.2|     0.68|    9.8|      5|0.009604000000000001|
|          7.8|            0.76|       0.04|           2.3|              0.092|               15.0|                54.0|  0.997|3.26|     0.65|    9.8|      5|            0.008464|
|         11.2|            0.28|       0.56|           1.9|              0.075|               17.0|                60.0|  0.998|3.16|     0.58|    9.8|      6|            0.005625|
|          7.4|             0.7|        0.0|           1.9|              0.076|               11.0|                34.0| 0.9978|3.51|     0.56|    9.4|      5|            0.005776|
|          7.4|            0.66|        0.0|           1.8|              0.075|               13.0|                40.0| 0.9978|3.51|     0.56|    9.4|      5|            0.005625|
|          7.9|             0.6|       0.06|           1.6|              0.069|               15.0|                59.0| 0.9964| 3.3|     0.46|    9.4|      5|0.004761000000000...|
|          7.3|            0.65|        0.0|           1.2|              0.065|               15.0|                21.0| 0.9946|3.39|     0.47|   10.0|      7|0.004225000000000...|
|          7.8|            0.58|       0.02|           2.0|              0.073|                9.0|                18.0| 0.9968|3.36|     0.57|    9.5|      7|0.005328999999999...|
|          7.5|             0.5|       0.36|           6.1|              0.071|               17.0|               102.0| 0.9978|3.35|      0.8|   10.5|      5|0.005040999999999...|
|          6.7|            0.58|       0.08|           1.8|0.09699999999999999|               15.0|                65.0| 0.9959|3.28|     0.54|    9.2|      5|0.009408999999999997|
|          7.5|             0.5|       0.36|           6.1|              0.071|               17.0|               102.0| 0.9978|3.35|      0.8|   10.5|      5|0.005040999999999...|
|          5.6|           0.615|        0.0|           1.6|0.08900000000000001|               16.0|                59.0| 0.9943|3.58|     0.52|    9.9|      5|0.007921000000000001|
|          7.8|            0.61|       0.29|           1.6|              0.114|                9.0|                29.0| 0.9974|3.26|     1.56|    9.1|      5|            0.012996|
|          8.9|            0.62|       0.18|           3.8|0.17600000000000002|               52.0|               145.0| 0.9986|3.16|     0.88|    9.2|      5|0.030976000000000007|
|          8.9|            0.62|       0.19|           3.9|               0.17|               51.0|               148.0| 0.9986|3.17|     0.93|    9.2|      5|0.028900000000000006|
|          8.5|            0.28|       0.56|           1.8|              0.092|               35.0|               103.0| 0.9969| 3.3|     0.75|   10.5|      7|            0.008464|
|          8.1|            0.56|       0.28|           1.7|              0.368|               16.0|                56.0| 0.9968|3.11|     1.28|    9.3|      5|            0.135424|
|          7.4|            0.59|       0.08|           4.4|              0.086|                6.0|                29.0| 0.9974|3.38|      0.5|    9.0|      4|0.007395999999999999|
|          7.9|            0.32|       0.51|           1.8|              0.341|               17.0|                56.0| 0.9969|3.04|     1.08|    9.2|      6| 0.11628100000000002|
+-------------+----------------+-----------+--------------+-------------------+-------------------+--------------------+-------+----+---------+-------+-------+--------------------+
only showing top 20 rows

In [55]:
#Measuring time for above code
%%timeit
wine_quality_v1 = wine_quality.withColumn("sq_chlorides", wine_quality.chlorides**2)

100 loops, best of 5: 8.97 ms per loop

In [57]:
#Concept of User Defined Function in PySpark
#Spark get its great advantage from the idea of operating on distributed workers/executors that 
#execute a subset of the bigger task and the final results are combined to form the final outcome.
#When working on operations in DataFrames on PySpark if we define a function in the traditional Pythonic manner the function would still 
#execute and the output would be the same. However the time taken for the execution of the operation would 
#be much more than what we would expect from a map and reduce framework based engine.
#Therefore to still be able to leverage the fast execution offered by Spark we need to create what are called User Defined Functions in PySpark.

#Normal Function Declaration
def square(x):
  return int(x**2)

#UDF in Pyspark
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType
square_udf = udf(lambda z: square(z), IntegerType())

In [58]:
#Comparing time with normal pythonic function and User Defined Function
%%timeit
wine_quality.withColumn("fast_sq_chlorides", square_udf(wine_quality.chlorides)) #Spark UDF much faster

The slowest run took 7.13 times longer than the fastest. This could mean that an intermediate result is being cached.
100 loops, best of 5: 4.79 ms per loop

CHANGING DATATYPES AFTER READING DATA

Available Data Types:
- DataType
- NullType
- StringType
- BinaryType
- BooleanType
- DateType
- TimestampType
- DecimalType
- DoubleType
- FloatType
- ByteType
- IntegerType
- LongType
- ShortType
- ArrayType
- MapType
- StructField
- StructType

In [59]:
#We can see the schema of the DataFrame called df contains datatypes that we have defined by casting for the two columns. 
#The important method to focus on here is the cast() method which can be called on a column of the dataframe and 
#takes in datatype input available in pyspark.sql.types.
from pyspark.sql.functions import * 
from pyspark.sql.types import * # IntegerType

df = wine_quality.withColumn("quality", wine_quality["quality"].cast(DoubleType())) \
        .withColumn("density", wine_quality["density"].cast(IntegerType())) 
        
print(df.printSchema())

root
 |-- fixed acidity: double (nullable = true)
 |-- volatile acidity: double (nullable = true)
 |-- citric acid: double (nullable = true)
 |-- residual sugar: double (nullable = true)
 |-- chlorides: double (nullable = true)
 |-- free sulfur dioxide: double (nullable = true)
 |-- total sulfur dioxide: double (nullable = true)
 |-- density: integer (nullable = true)
 |-- pH: double (nullable = true)
 |-- sulphates: double (nullable = true)
 |-- alcohol: double (nullable = true)
 |-- quality: double (nullable = true)

None

In [60]:
#Renaming Columns
df.withColumnRenamed('density','density_new_name')

DataFrame[fixed acidity: double, volatile acidity: double, citric acid: double, residual sugar: double, chlorides: double, free sulfur dioxide: double, total sulfur dioxide: double, density_new_name: int, pH: double, sulphates: double, alcohol: double, quality: double]

In [61]:
#Dropping Columns
df.drop("quality")

DataFrame[fixed acidity: double, volatile acidity: double, citric acid: double, residual sugar: double, chlorides: double, free sulfur dioxide: double, total sulfur dioxide: double, density: int, pH: double, sulphates: double, alcohol: double]

DATA MANIPULATION METHODS:

In [64]:
# Adding a text column to run some text manipulation functions on.
df1 = df.withColumn("text_col", lit("    TEST TEXT   "))
df1.select("text_col").show(5,False)

+----------------+
|text_col        |
+----------------+
|    TEST TEXT   |
|    TEST TEXT   |
|    TEST TEXT   |
|    TEST TEXT   |
|    TEST TEXT   |
+----------------+
only showing top 5 rows

In [65]:
#Trim Function removes leading and trailing spaces
df = df1.withColumn('text_col',trim(df1.text_col)) 
df.select("text_col").show(5,False)

+---------+
|text_col |
+---------+
|TEST TEXT|
|TEST TEXT|
|TEST TEXT|
|TEST TEXT|
|TEST TEXT|
+---------+
only showing top 5 rows

In [66]:
#Lower Casing
df1 = df.withColumn('text_col',lower(df.text_col)) 
df1.select("text_col").show(5,False)

+---------+
|text_col |
+---------+
|test text|
|test text|
|test text|
|test text|
|test text|
+---------+
only showing top 5 rows

In [67]:
#Splitting String basis pattern
df1.select(split(df1.text_col, ' ').alias('split_text_col')).show(5,False)

+--------------+
|split_text_col|
+--------------+
|[test, text]  |
|[test, text]  |
|[test, text]  |
|[test, text]  |
|[test, text]  |
+--------------+
only showing top 5 rows

In [68]:
#Regular Expression to replace Text
df1.select('text_col',regexp_replace(df1.text_col, 'test', 'replaced').alias('regex_replaced_text')).show(5, False)

+---------+-------------------+
|text_col |regex_replaced_text|
+---------+-------------------+
|test text|replaced text      |
|test text|replaced text      |
|test text|replaced text      |
|test text|replaced text      |
|test text|replaced text      |
+---------+-------------------+
only showing top 5 rows

CONDITION BASED FEATURE CREATIONS:

- Option1: select or withColumn() using when-otherwise with Otherwise condition
- Option2: select or withColumn() using expr function
- Option 3: selectExpr() using SQL equivalent CASE expression (Very Intuitive for me)

In [75]:
#Option 1: select or withColumn() using when-otherwise with Otherwise condition
print("Option#1: select or withColumn() using when-otherwise with Otherwise condition")
df_subset_2 = df.select("pH",(when(df.pH >= 3.0, 'Good').otherwise('Bad')).alias("Acidity Category"))
df_subset_2.show(10)

Option#1: select or withColumn() using when-otherwise with Otherwise condition
+----+----------------+
|  pH|Acidity Category|
+----+----------------+
|3.51|            Good|
| 3.2|            Good|
|3.26|            Good|
|3.16|            Good|
|3.51|            Good|
|3.51|            Good|
| 3.3|            Good|
|3.39|            Good|
|3.36|            Good|
|3.35|            Good|
+----+----------------+
only showing top 10 rows

In [73]:
#Option 2: select or withColumn() using expr function
from pyspark.sql.functions import expr 
print("Option2: select or withColumn() using expr function")
df.select("pH",expr("CASE WHEN pH >= 3.0 THEN 'Good' ELSE 'Bad' END").alias('Acidity Category')).show(10)

Option2: select or withColumn() using expr function
+----+----------------+
|  pH|Acidity Category|
+----+----------------+
|3.51|            Good|
| 3.2|            Good|
|3.26|            Good|
|3.16|            Good|
|3.51|            Good|
|3.51|            Good|
| 3.3|            Good|
|3.39|            Good|
|3.36|            Good|
|3.35|            Good|
+----+----------------+
only showing top 10 rows

In [72]:
#Option 3: selectExpr() using SQL equivalent CASE expression (Very Intuitive for me)
print("Option 3: selectExpr() using SQL equivalent CASE expression")
df.selectExpr("pH","CASE WHEN pH >= 3.0 THEN  'Good' ELSE 'Bad' END AS Acidity_Category").show(10)

Option 3: selectExpr() using SQL equivalent CASE expression
+----+----------------+
|  pH|Acidity_Category|
+----+----------------+
|3.51|            Good|
| 3.2|            Good|
|3.26|            Good|
|3.16|            Good|
|3.51|            Good|
|3.51|            Good|
| 3.3|            Good|
|3.39|            Good|
|3.36|            Good|
|3.35|            Good|
+----+----------------+
only showing top 10 rows

PYSPARK DF IMMUTABILITY: 

- As per Spark Architecture DataFrame is built on top of RDDs which are immutable in nature therefore Data frames are immutable in nature.
- Most operations of the Dataframe will generate another dataframe and assign it to reference variable in case you have the assignment statement.
- In order to verify the same, you can use id() method of rdd to get the unique identifier of your dataframe.

In [76]:
org_df = spark.createDataFrame([('Apple','Steve Jobs')], ['Organisation', 'Founder'])
print(org_df.show())
print(org_df.rdd.id()) #317 ID

+------------+----------+
|Organisation|   Founder|
+------------+----------+
|       Apple|Steve Jobs|
+------------+----------+

None
317

In [77]:
#Performing Concat Operation
org_df = org_df.select(org_df.Organisation,org_df.Founder,concat_ws('-', org_df.Organisation, org_df.Founder).alias('concat'))
print(org_df.show())
print(org_df.rdd.id()) #Id Changed to 323
#So even though the variable which holds the dataframe is same but the unique rdd id is different after the update. This is because the old dataframe is not being referenced to anymore.
#Regarding the withColumn() or any other similar operations when applied, such operations will generate a new data frame instead of updating the existing data frame.
#Therefore calling withColumns() function too many times may cause the whole process to become expensive especially in terms of time.
#This method introduces a projection internally. Therefore, calling it multiple times, for instance, via loops in order to add multiple columns can generate big plans which can cause performance issues and even StackOverflowException. To avoid this, use select() with the multiple columns at once.

+------------+----------+----------------+
|Organisation|   Founder|          concat|
+------------+----------+----------------+
|       Apple|Steve Jobs|Apple-Steve Jobs|
+------------+----------+----------------+

None
323

AGGREGATING DATAFRAMES IN PYSPARK

In [78]:
#Similar to value_counts() method in pandas which gives out frequency table
wine_quality.groupBy("quality").count().show()

+-------+-----+
|quality|count|
+-------+-----+
|      6|  638|
|      3|   10|
|      5|  681|
|      4|   53|
|      8|   18|
|      7|  199|
+-------+-----+

In [79]:
wine_quality.groupBy("quality").mean("density").show()

+-------+------------------+
|quality|      avg(density)|
+-------+------------------+
|      6|0.9966150626959255|
|      3|0.9974640000000001|
|      5|0.9971036270190888|
|      4|0.9965424528301888|
|      8|0.9952122222222223|
|      7|0.9961042713567828|
+-------+------------------+

In [80]:
wine_quality.select(countDistinct("quality").alias('CountDistinct_quality')).show()

+---------------------+
|CountDistinct_quality|
+---------------------+
|                    6|
+---------------------+

In [88]:
#Multiple Column Aggregation at once
wine_quality.groupBy("quality").agg(round(min(wine_quality.chlorides),3).alias("Min chlorides"),max(wine_quality.chlorides).alias("Max chlorides")).show()

+-------+-------------+-------------+
|quality|Min chlorides|Max chlorides|
+-------+-------------+-------------+
|      6|        0.034|        0.415|
|      3|        0.061|        0.267|
|      5|        0.039|        0.611|
|      4|        0.045|         0.61|
|      8|        0.044|        0.086|
|      7|        0.012|        0.358|
+-------+-------------+-------------+

In [89]:
#Aggregations without groupby
wine_quality.agg(min(wine_quality.density).alias("Min density"),max(wine_quality.density).alias("Max density")).show()

+------------------+-----------+
|       Min density|Max density|
+------------------+-----------+
|0.9900700000000001|    1.00369|
+------------------+-----------+

In [91]:
#Pivots
wine_quality.show(10)

+-------------+----------------+-----------+--------------+---------+-------------------+--------------------+-------+----+---------+-------+-------+
|fixed acidity|volatile acidity|citric acid|residual sugar|chlorides|free sulfur dioxide|total sulfur dioxide|density|  pH|sulphates|alcohol|quality|
+-------------+----------------+-----------+--------------+---------+-------------------+--------------------+-------+----+---------+-------+-------+
|          7.4|             0.7|        0.0|           1.9|    0.076|               11.0|                34.0| 0.9978|3.51|     0.56|    9.4|      5|
|          7.8|            0.88|        0.0|           2.6|    0.098|               25.0|                67.0| 0.9968| 3.2|     0.68|    9.8|      5|
|          7.8|            0.76|       0.04|           2.3|    0.092|               15.0|                54.0|  0.997|3.26|     0.65|    9.8|      5|
|         11.2|            0.28|       0.56|           1.9|    0.075|               17.0|                60.0|  0.998|3.16|     0.58|    9.8|      6|
|          7.4|             0.7|        0.0|           1.9|    0.076|               11.0|                34.0| 0.9978|3.51|     0.56|    9.4|      5|
|          7.4|            0.66|        0.0|           1.8|    0.075|               13.0|                40.0| 0.9978|3.51|     0.56|    9.4|      5|
|          7.9|             0.6|       0.06|           1.6|    0.069|               15.0|                59.0| 0.9964| 3.3|     0.46|    9.4|      5|
|          7.3|            0.65|        0.0|           1.2|    0.065|               15.0|                21.0| 0.9946|3.39|     0.47|   10.0|      7|
|          7.8|            0.58|       0.02|           2.0|    0.073|                9.0|                18.0| 0.9968|3.36|     0.57|    9.5|      7|
|          7.5|             0.5|       0.36|           6.1|    0.071|               17.0|               102.0| 0.9978|3.35|      0.8|   10.5|      5|
+-------------+----------------+-----------+--------------+---------+-------------------+--------------------+-------+----+---------+-------+-------+
only showing top 10 rows

In [92]:
#Creating a categorical column to check effect of pH on Quality
wine_quality_v2 = wine_quality.select('*', (when(df.pH >= 3.0, 'pH>=3').otherwise('pH<3')).alias("ph_category"))
wine_quality_v2.show()

+-------------+----------------+-----------+--------------+-------------------+-------------------+--------------------+-------+----+---------+-------+-------+-----------+
|fixed acidity|volatile acidity|citric acid|residual sugar|          chlorides|free sulfur dioxide|total sulfur dioxide|density|  pH|sulphates|alcohol|quality|ph_category|
+-------------+----------------+-----------+--------------+-------------------+-------------------+--------------------+-------+----+---------+-------+-------+-----------+
|          7.4|             0.7|        0.0|           1.9|              0.076|               11.0|                34.0| 0.9978|3.51|     0.56|    9.4|      5|      pH>=3|
|          7.8|            0.88|        0.0|           2.6|              0.098|               25.0|                67.0| 0.9968| 3.2|     0.68|    9.8|      5|      pH>=3|
|          7.8|            0.76|       0.04|           2.3|              0.092|               15.0|                54.0|  0.997|3.26|     0.65|    9.8|      5|      pH>=3|
|         11.2|            0.28|       0.56|           1.9|              0.075|               17.0|                60.0|  0.998|3.16|     0.58|    9.8|      6|      pH>=3|
|          7.4|             0.7|        0.0|           1.9|              0.076|               11.0|                34.0| 0.9978|3.51|     0.56|    9.4|      5|      pH>=3|
|          7.4|            0.66|        0.0|           1.8|              0.075|               13.0|                40.0| 0.9978|3.51|     0.56|    9.4|      5|      pH>=3|
|          7.9|             0.6|       0.06|           1.6|              0.069|               15.0|                59.0| 0.9964| 3.3|     0.46|    9.4|      5|      pH>=3|
|          7.3|            0.65|        0.0|           1.2|              0.065|               15.0|                21.0| 0.9946|3.39|     0.47|   10.0|      7|      pH>=3|
|          7.8|            0.58|       0.02|           2.0|              0.073|                9.0|                18.0| 0.9968|3.36|     0.57|    9.5|      7|      pH>=3|
|          7.5|             0.5|       0.36|           6.1|              0.071|               17.0|               102.0| 0.9978|3.35|      0.8|   10.5|      5|      pH>=3|
|          6.7|            0.58|       0.08|           1.8|0.09699999999999999|               15.0|                65.0| 0.9959|3.28|     0.54|    9.2|      5|      pH>=3|
|          7.5|             0.5|       0.36|           6.1|              0.071|               17.0|               102.0| 0.9978|3.35|      0.8|   10.5|      5|      pH>=3|
|          5.6|           0.615|        0.0|           1.6|0.08900000000000001|               16.0|                59.0| 0.9943|3.58|     0.52|    9.9|      5|      pH>=3|
|          7.8|            0.61|       0.29|           1.6|              0.114|                9.0|                29.0| 0.9974|3.26|     1.56|    9.1|      5|      pH>=3|
|          8.9|            0.62|       0.18|           3.8|0.17600000000000002|               52.0|               145.0| 0.9986|3.16|     0.88|    9.2|      5|      pH>=3|
|          8.9|            0.62|       0.19|           3.9|               0.17|               51.0|               148.0| 0.9986|3.17|     0.93|    9.2|      5|      pH>=3|
|          8.5|            0.28|       0.56|           1.8|              0.092|               35.0|               103.0| 0.9969| 3.3|     0.75|   10.5|      7|      pH>=3|
|          8.1|            0.56|       0.28|           1.7|              0.368|               16.0|                56.0| 0.9968|3.11|     1.28|    9.3|      5|      pH>=3|
|          7.4|            0.59|       0.08|           4.4|              0.086|                6.0|                29.0| 0.9974|3.38|      0.5|    9.0|      4|      pH>=3|
|          7.9|            0.32|       0.51|           1.8|              0.341|               17.0|                56.0| 0.9969|3.04|     1.08|    9.2|      6|      pH>=3|
+-------------+----------------+-----------+--------------+-------------------+-------------------+--------------------+-------+----+---------+-------+-------+-----------+
only showing top 20 rows

In [93]:
wine_quality_v2.groupBy("quality").pivot("ph_category").count().show(10)

+-------+----+-----+
|quality|pH<3|pH>=3|
+-------+----+-----+
|      6|  10|  628|
|      3|null|   10|
|      5|  13|  668|
|      4|   1|   52|
|      8|   2|   16|
|      7|   3|  196|
+-------+----+-----+

In [94]:
#The pivot method will create cross-tab with all the distinct values that the column passed to it consists of.
wine_quality.groupBy("quality").pivot("quality").count().show(10)

+-------+----+----+----+----+----+----+
|quality|   3|   4|   5|   6|   7|   8|
+-------+----+----+----+----+----+----+
|      6|null|null|null| 638|null|null|
|      3|  10|null|null|null|null|null|
|      5|null|null| 681|null|null|null|
|      4|null|  53|null|null|null|null|
|      8|null|null|null|null|null|  18|
|      7|null|null|null|null| 199|null|
+-------+----+----+----+----+----+----+

In [95]:
#To limit the pivot method to create cross-tab for only specific entries of the column passed to it, another argument can be provided to it which should be the list of all distinct values to use for the cross-tab.
wine_quality.groupBy("quality").pivot("free sulfur dioxide", [11,25]).count().show(10)

+-------+----+----+
|quality|  11|  25|
+-------+----+----+
|      6|  26|   8|
|      3|null|null|
|      5|  20|  14|
|      4|   5|null|
|      8|null|null|
|      7|   8|   2|
+-------+----+----+

In [97]:
#Aggregation + Pivot 
wine_quality_v2.groupBy("quality").pivot("ph_category").agg(mean(wine_quality_v2.chlorides).alias("Mean Chlorides"),mean(wine_quality_v2["free sulfur dioxide"]).alias("Mean free sulfur dioxide")).show()

+-------+-------------------+-----------------------------+--------------------+------------------------------+
|quality|pH<3_Mean Chlorides|pH<3_Mean free sulfur dioxide|pH>=3_Mean Chlorides|pH>=3_Mean free sulfur dioxide|
+-------+-------------------+-----------------------------+--------------------+------------------------------+
|      6|             0.1203|                         16.3| 0.08439331210191084|            15.702229299363058|
|      3|               null|                         null| 0.12250000000000001|                          11.0|
|      5|              0.095|                         12.0| 0.09269161676646706|            17.080838323353294|
|      4|               0.61|                         32.0|  0.0806923076923077|            11.884615384615385|
|      8|0.07750000000000001|                         24.0|           0.0673125|                       11.9375|
|      7|0.08233333333333333|                         13.0| 0.07649999999999997|            14.061224489795919|
+-------+-------------------+-----------------------------+--------------------+------------------------------+

JOINS

In [98]:
valuesP = [('koala',1,'yes'),('caterpillar',2,'yes'),('deer',3,'yes'),('human',4,'yes')]
eats_plants = spark.createDataFrame(valuesP,['name','id','eats_plants'])

valuesM = [('shark',5,'yes'),('lion',6,'yes'),('tiger',7,'yes'),('human',4,'yes')]
eats_meat = spark.createDataFrame(valuesM,['name','id','eats_meat'])

print("Plant eaters (herbivores)")
print(eats_plants.show())
print("Meat eaters (carnivores)")
print(eats_meat.show())

Plant eaters (herbivores)
+-----------+---+-----------+
|       name| id|eats_plants|
+-----------+---+-----------+
|      koala|  1|        yes|
|caterpillar|  2|        yes|
|       deer|  3|        yes|
|      human|  4|        yes|
+-----------+---+-----------+

None
Meat eaters (carnivores)
+-----+---+---------+
| name| id|eats_meat|
+-----+---+---------+
|shark|  5|      yes|
| lion|  6|      yes|
|tiger|  7|      yes|
|human|  4|      yes|
+-----+---+---------+

None

In [99]:
#Inner Join: ONLY the values that appear in BOTH tables we are joining.
inner_join = eats_plants.join(eats_meat, ["name","id"],"inner")
print("Inner Join Example")
print(inner_join.show())

Inner Join Example
+-----+---+-----------+---------+
| name| id|eats_plants|eats_meat|
+-----+---+-----------+---------+
|human|  4|        yes|      yes|
+-----+---+-----------+---------+

None

In [100]:
#Left Join: Left joins gives the rows and columns that appear in the left table and only the rows from the right table which are successfully mapped to the table on the left along with the columns. A quick quality check we could do would be to make sure that the human column has the value "yes" for both eats_plants and eats_meat columns.
left_join = eats_plants.join(eats_meat, ["name","id"], how='left')
print("Left Join Example")
print(left_join.show())

Left Join Example
+-----------+---+-----------+---------+
|       name| id|eats_plants|eats_meat|
+-----------+---+-----------+---------+
|      koala|  1|        yes|     null|
|caterpillar|  2|        yes|     null|
|       deer|  3|        yes|     null|
|      human|  4|        yes|      yes|
+-----------+---+-----------+---------+

None

In [101]:
#Right Join: Gets the values that appear in the right table but not in the left. It also brings it's columns over.
right_join = eats_plants.join(eats_meat,  ["name","id"],how='right')
print("Right Join")
print(right_join.show())

Right Join
+-----+---+-----------+---------+
| name| id|eats_plants|eats_meat|
+-----+---+-----------+---------+
|shark|  5|       null|      yes|
| lion|  6|       null|      yes|
|human|  4|        yes|      yes|
|tiger|  7|       null|      yes|
+-----+---+-----------+---------+

None

In [102]:
#Full Outer Join: Will get all values from both tables and columns from both.
full_outer_join = eats_plants.join(eats_meat, ["name","id"],how='full') # Could also use 'full_outer'
print("Full Outer Join")
print(full_outer_join.show())

Full Outer Join
+-----------+---+-----------+---------+
|       name| id|eats_plants|eats_meat|
+-----------+---+-----------+---------+
|caterpillar|  2|        yes|     null|
|       deer|  3|        yes|     null|
|      human|  4|        yes|      yes|
|      koala|  1|        yes|     null|
|       lion|  6|       null|      yes|
|      shark|  5|       null|      yes|
|      tiger|  7|       null|      yes|
+-----------+---+-----------+---------+

None

In [103]:
#Union
new_df = eats_plants

df_concat = eats_plants.union(new_df)
print(("eats_plants df Counts:", eats_plants.count(), len(eats_plants.columns)))
print(("df_concat Counts:", df_concat.count(), len(df_concat.columns)))
print(eats_plants.show())
print(df_concat.show())

('eats_plants df Counts:', 4, 3)
('df_concat Counts:', 8, 3)
+-----------+---+-----------+
|       name| id|eats_plants|
+-----------+---+-----------+
|      koala|  1|        yes|
|caterpillar|  2|        yes|
|       deer|  3|        yes|
|      human|  4|        yes|
+-----------+---+-----------+

None
+-----------+---+-----------+
|       name| id|eats_plants|
+-----------+---+-----------+
|      koala|  1|        yes|
|caterpillar|  2|        yes|
|       deer|  3|        yes|
|      human|  4|        yes|
|      koala|  1|        yes|
|caterpillar|  2|        yes|
|       deer|  3|        yes|
|      human|  4|        yes|
+-----------+---+-----------+

None

In [104]:
#Join with different column names
import pyspark.sql.functions as F
# creating different name for the same column
eats_plants = eats_plants.withColumnRenamed("name", "name_1")
eats_plants.join(eats_meat, eats_plants['name_1'] == eats_meat['name'], how='outer')\
   .show()

#This works well but has some extra duplicate columns common between the two tables that can now be dropped after the mapping is complete.

+-----------+----+-----------+-----+----+---------+
|     name_1|  id|eats_plants| name|  id|eats_meat|
+-----------+----+-----------+-----+----+---------+
|caterpillar|   2|        yes| null|null|     null|
|       deer|   3|        yes| null|null|     null|
|      human|   4|        yes|human|   4|      yes|
|      koala|   1|        yes| null|null|     null|
|       null|null|       null| lion|   6|      yes|
|       null|null|       null|shark|   5|      yes|
|       null|null|       null|tiger|   7|      yes|
+-----------+----+-----------+-----+----+---------+

In [105]:
#Coalesce: Returns the first column that is not null
cDf = spark.createDataFrame([(None, None), (1, None), (None, 2)], ("a", "b"))
print(cDf.show())
cDf.select(coalesce(cDf["a"], cDf["b"])).show()

+----+----+
|   a|   b|
+----+----+
|null|null|
|   1|null|
|null|   2|
+----+----+

None
+--------------+
|coalesce(a, b)|
+--------------+
|          null|
|             1|
|             2|
+--------------+

In [106]:
#Coalesce in Joins #Extra columns after merge will not come 
eats_plants.join(eats_meat, eats_plants['name_1'] == eats_meat['name'], how='outer')\
   .select('*', F.coalesce(F.col('name_1'), F.col('name')).alias('name_coalesced')) \
   .drop('name_1', 'name') \
   .show()

+----+-----------+----+---------+--------------+
|  id|eats_plants|  id|eats_meat|name_coalesced|
+----+-----------+----+---------+--------------+
|   2|        yes|null|     null|   caterpillar|
|   3|        yes|null|     null|          deer|
|   4|        yes|   4|      yes|         human|
|   1|        yes|null|     null|         koala|
|null|       null|   6|      yes|          lion|
|null|       null|   5|      yes|         shark|
|null|       null|   7|      yes|         tiger|
+----+-----------+----+---------+--------------+